// style guide variables

$headline-text: 3rem; // 300%
$body-text: 1rem; // 100%
$nav-item: 1.25rem; // 125%
$sub-header: 1.50rem; // 150%
$byline: 0.75rem; // 75%

// margin sizes for headlines
$headline-margin: 5px;

body {
  font-size: 16px;
}
h1 {
  font-size: $headline-text;
  margin: $headline-margin;
}
p {
  font-size: $body-text;
}

nav li {
  font-size: $nav-item;
}
h2 {
  font-size: $sub-header;
  margin: $headline-margin;
}
figcaption {
  font-size: $byline;
}
