// variables!
// DRY!
// I hate repeating myself!

$black: black;
$white: aliceblue;
$normal-size: 1.25em;

body {
  /*hi world, I am using sass */
  // javascript style comment
  // only works in sass
  // not css
  background: $black;
  color: $white;
  font-size: $normal-size;
}
